/* Настройка шапки страницы */

.head{
    display: flex;                                                      /* состыковка всех объектов шапки в строку */
    width: 100%;                                                        /* Ширина шапки */
    Height: 50px;                                                       /* Высота шапки */
    background-color: aliceblue;                                      /* Цвет фона шапки */
}

/* Настройка лого в шапке */

.HeadImage{
    height: 50px;                                                       /*высота лого*/
}

/* Настройка тела cайта */

body{
    height: 1450px;                                                     /* Высота сайт */
    font-family: 'Nunito', sans-serif;                                  /* применение шрифта */
    margin: 0;                                                          /* убирание отступов */
    background-image: url("/Site-background-light.webp");               /* Фон сайта */
    background-attachment: fixed;                                       /* Неподвижность фона */
    background-position: center;                                        /* Позиция фона */
    background-repeat: no-repeat;                                       /* отключение повторения фона */
    background-size: cover;                                             /* растягивание фона на всю страницу */
}

main {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

/* быстрая навигация */

.FastNavigation{
    width: 100%;
    height: 200px;
    background-color: aliceblue;
    border: 3px solid #7ad4ef;
    border-radius: 10px;
}

.UpperSide h1{
    color: #1a75d3;
    text-align: center;
    margin: 0px;
}

.lowerSide{
    display: flex;
    justify-content: space-between;
}

/*иконки игры*/

.Attack{
    margin-left: 30px;
    margin-top: 0px;
    width: 140px; 
    height: 140px; 
    background-image: url(/Attack_Button_1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: 0.3s;
}
.Attack:hover{
    margin-left: 0px;
    margin-top: 0px;
    background-position: center;
    width: 190px; 
    height: 190px; 
}

.Valkyrie{
    margin-top: 0px;
    width: 153px; 
    height: 153px;
    background-image: url(/Valkyrie_Button_1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: 0.3s;  
}
.Valkyrie:hover{
    margin-top: 0px;
    background-position: center;
    width: 190px; 
    height: 190px; 
}

.Equipment{
    margin-top: 0px;
    width: 155px; 
    height: 155px;  
    background-image: url(/Equipment_Button_1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: 0.3s; 
}
.Equipment:hover{
    margin-top: 0px;
    background-position: center;
    width: 190px; 
    height: 190px; 
}

.Base{
    margin-top: 0px;
    width: 153px; 
    height: 153px;  
    background-image: url(/Base_Button_1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: 0.3s; 
}
.Base:hover{
    margin-top: 0px;
    background-position: center;
    width: 200px; 
    height: 200px; 
}

.Elf{
    margin-top: 0px;
    width: 140px; 
    height: 140px;
    background-image: url(/ELF_Button_1.webp); 
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 100%;
    transition: 0.3s; 
}
.Elf:hover{
    margin-top: 0px;
    background-position: center;
    width: 190px; 
    height: 190px; 
}

.Supply{
    margin-top: 0px;
    width: 140px; 
    height: 140px;  
    background-image: url(/Supply_Button_1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: 0.3s; 
}
.Supply:hover{
    margin-top: 0px;
    background-position: center;
    width: 190px; 
    height: 190px; 
}

.Armada{
    margin-right: 30px;
    margin-top: 0px;
    width: 153px; 
    height: 153px;  
    background-image: url(/Armada_Button_1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: 0.3s; 
}
.Armada:hover{
    
    margin-top: 0px;
    background-position: center;
    width: 200px; 
    height: 200px; 
}